::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: none;
    background-color: #fff;
}
::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: rgba(148, 148, 148, .5);
}
iframe {
    width: 100%;
}
.fa {
    margin-right: 5px;
}
.fa-pencil {
    cursor: pointer;
    margin-left:5px;
    margin-right: 0;
}
.red {
    color: #f00;
}
.layui-layout-admin .layui-body {
    overflow: hidden;
    bottom: 0;
}
.layui-table {
    margin: 0;
}
.layui-table th {
    font-weight: bolder;
}
.layui-table td, .layui-table th {
    text-align: center;
    padding: 6px 15px;
    font-size: 12px;
}
.layui-tab {
    margin: 0;
}
.layui-tab-content {
    padding: 0;
}
.layui-breadcrumb {
    height: 22px;
    line-height: 22px;
    padding: 10px;
    border-bottom: 1px solid #e5e5e5;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    background: #fff;
}
.layui-btn-small {
    height: 22px;
    line-height: 22px;
    padding: 0 6px;
    font-size: 12px;
}
.layui-btn + .layui-btn {
    margin-left: 0;
}
    /*--//End--*/
.layui-elem-quote {
    padding: 9px 15px;
}
.container {
    padding: 63px 20px 20px 20px;
    position: relative;
    z-index: 1;
}
/**/
.ad-navs {
    width: 160px;
    position: fixed;
    top: 113px;
    left: 20px;
    overflow-y: auto;
}
.ad-navs .treemenu,
.ad-navs .treemenu .child {
    background-image: url(../images/icon-navs.png);
}
.ad-navs .treemenu {
    background-repeat: repeat-y;
    background-position: -97px 0;
    line-height: 30px;
    font-size: 14px;
    padding-left: 20px;
    overflow-y: auto;
}
.ad-navs .treemenu span {
    cursor: pointer;
    display: block;
    position: relative;
}
.ad-navs .treemenu .fa-folder {
    color: #f59c1a
}
.ad-navs .treemenu .child {
    width: 21px;
    height: 21px;
    float: left;
}
.ad-navs .treemenu .child2 {
    position: absolute;
    top: 0;
    left: -16px;
}
.ad-navs .treemenu .treemenu {
    padding-left: 40px;
    background-position: -93px 0;
}
.ad-navs .tree-opened > .toggler > .fa-folder:before {
    content: '\f07c';
    color: #242a30;
}
.layui-layout-admin .layui-logo {
    width: auto;
    font-size: 24px;
    font-weight: bolder;
    text-align: left;
    padding-left: 5px;
}
.layui-layout-left {
    left: 200px;
}
/*--//End 二级分类导航*/
.ad-main .panel {
    border-radius: 2px;
    background: #f2f2f2;
    display: block;
    height: 100px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
.ad-main .panel .symbol {
    width: 20%;
    padding: 25px 10%;
    background: #54ade8;
    float: left;
    text-align: center;
}
.ad-main .panel .symbol .fa {
    font-size: 50px;
    color: #fff;
}
.ad-main .panel .value {
    width: 59%;
    float: left;
    text-align: center;
    padding-top: 16px;
}
.ad-main .panel .value h3 {
    font-size: 30px;
    line-height: 50px;
}
.ad-main .panel .value h4 {
    color: #999;
}
/*--//End--main.html--*/
.ad-category .layui-row {
    margin-left: 170px;
}
/*--//End--category.html--*/
.ad-article-edit {
    padding-top: 25px;
}
/*--//End--article.html--*/
.upload_image {
    width: 200px;
    height: 150px;
    position: relative;
    overflow: hidden;
}
.upload_image .file {
    width: 198px;
    height: 148px;
    line-height: 150px;
    text-align: center;
    border: 1px solid #eee;
    position: relative;
    z-index: 2;
}
.upload_image .file span {
    width: 120px;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    border: 1px solid #eee;
    display: inline-block;
    -webkit-border-radius: 30px;
    border-radius: 30px;
}
.upload_image .file input {
    width: 100%;
    opacity: 0;
    filter: alpha(opacity=0);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    cursor: pointer;
}
.upload_image .progress {
    width: 100%;
    height: 10px;
    background: #eee;
    position: absolute;
    top: auto;
    bottom: 0;
    left: 0;
    margin-bottom: 0;
    border-radius: 0;
    display: none;
}
.upload_image .progress .bar {
    width: 0;
    background-color: #86e01e;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 1;
}
.upload_image .progress .percent {
    width: 100%;
    font-size: 12px;
    line-height: 13px;
    color: #fff;
    text-align: center;
    position: absolute;
    top: 0;
    z-index: 2;
}
.upload_image .preview {
    width: 200px;
    height: 150px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
.upload_image .preview img {
    display: -webkit-flex;
    -webkit-justify-content: center;
    -webkit-align-items: center;
    width: 200px;
    height: 150px;
    display: none;
}
.upload_image .delimg {
    margin-left: 20px;
    color: #090;
    cursor: pointer
}
.upload_image.active {
    background: #000;
}
.upload_image.active .file {
    width: 120px;
    height: 40px;
    line-height: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -20px;
    margin-left: -60px;
    background: rgba(0, 0, 0, .6);
    border: none;
    color: #fff;
    text-align: center;
    font-size: 14px;
    -webkit-border-radius: 30px;
    border-radius: 30px;
}
/*--//End 上传图片--*/
.layui-laypage {
    float: right;
}
.layui-laypage .pagination li {
    float: left;
}
.layui-laypage .pagination li.active span {
    background-color: #009688;
    color: #fff;
    border: 1px solid #009688;
}
/*--//End 分页--*/
.ad-submission .col {
    min-width:40px;
    display: inline-block;
}
.ad-submission .col-line {
    display: inline-block;
    margin:0 10px;
}
/*--//End 报送管理--*/
.ad-slide {
    width: 200px;
    position: fixed;
    top: 65px;
    left: 20px;
    z-index: 2;
}
.ad-slide .layui-nav-child {
    width: 205px;
    padding: 0;
    height: 500px;
    overflow-y: scroll;
}

.ad-slide .layui-col-sm12 {
    padding-left: 220px;
}
/*--//End 二级导航--*/
.layui-input.disabled,
.layui-textarea.disabled{
    color: #999;
    border-color: #eee;
    background: #eee;
}
.message-users {
    padding: 20px;
}
.message-users span {
    width:160px;
    line-height: 35px;
    text-align: center;
    border: 1px solid #ccc;
    cursor: pointer;
    float: left;
    margin:3px;
    -webkit-transition: all .3s;
    transition: all .3s;
}
.message-users span:hover {
    color: #fff;
    background: #009688;
    border-color: #009688;
}
/*--//End--*/
.layui-side .layui-nav-itemed > a {
    border-left: 5px solid #009688;
    background: #4e5464;
}
.layui-side .layui-nav-itemed .layui-nav-child a {
    padding-left: 45px;
}
/*--//End--*/
.layui-tree > li .layui-tree-branch {
    color: #ffc000;
}
.layui-tree > li .layui-tree-leaf {
    /*margin-left: 10px;*/
}























